/* Insert LESS styles here. */

html,
body {
  background-color: #f8f8f8;
  font-family: 'Trebuchet MS', Arial;
}

.preheader {
  display: none;
}

a {
  color: gray;
}

.body {
  background-color: #fff;
  padding: 16px;
}

.header {
  padding-bottom: 32px;
  background-color: #fff;

  h1 {
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 16px;
    margin: 0;
  }
}

.footer {
  border-top: 1px solid gray;
  padding: 32px 0;
}
